@use '../../../variables' as var;
@use '../../../_breakpoint' as bp;

.workCards {
  display: flex;
  justify-content: space-between;
}

.allWorks {
  text-align: right;
}

@include bp.mq(md) {
  .workCards {
    flex-direction: column;
  }
}