@use '../../variables' as var;

.main {
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var.$DefaultBackgroundColor;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  position: sticky;
  top: 0vh;
  padding: 0 1rem;

  align-items: center;
  justify-content: space-between;

  a {
    color: var.$DefaultCharacterColor;
    text-decoration: none;
  }

  .logo {
    font-size: 18px;
    font-weight: 700;
  }
  .links {
    a {
      margin: 1rem;
    }
  }
}
