$StartTrueDreams: #b8373f;
$StartTrueDreams2: #c14c5a;
$Kanon: #ff7f26;
$Chisato: #ff6d91;
$Keke: #a0fff9;
$Sumire: #75f467;
$Ren: #0000a0;
$DefaultBackgroundColor: #fffffe;
$DefaultCharacterColor: #333;
